- var listing = {"address1":"2074 Vista Ave","address2":"Arcadia, CA 91006","imageLocation":"/images/2074-vista-ave/2074-vista.jpg","listingLocation":"/listings/2074-vista-ave","shortDescription":"Rare opportunity to own a home in the Highlands of Arcadia with a view overlooking the valley! Recently fully renovated, everything you can see and touch in this 3 bedroom 3 bath home is brand new waiting for a lucky someone to call it home.","description":"Rare opportunity to own a home in the Highlands of Arcadia with a view overlooking the valley! Recently fully renovated, everything you can see and touch in this 3 bedroom 3 bath home is brand new waiting for a lucky someone to call it home. Featuring a single level open floor plan, the great room allows for maximum customization while overlooking a one of a kind view of the valley below at all times. Bright and open concept reign supreme as a modern kitchen, restrooms and new flooring finish off the interior of this home. Outside you are greeted with a concrete covered patio leading to your recently refinished private pool overlooking the panoramic view as well. Leased solar panels offer cheaper renewable energy for you and your loved ones. Located near the end of a quiet cul-de-sac, privacy and safety abundant to those who seek it. Too much to explain here, must be seen to be appreciated!","bed":3,"bath":3,"sqft":"2,154","lot size":"","price":"$1,588,000","priceSqft":"","garageSize":"","propertyType":"House","yearBuilt":"","taxes":"","mls":"","externalLink":"","zillow":"","trulia":""}

doctype html
html(lang='en')
	title 2074 Vista Ave | John Huang - Southern California Real Estate Agent
	meta(name="description", content="Rare opportunity to own a home in the Highlands of Arcadia with a view overlooking the valley! 2074 Vista Ave is located in Arcadia, CA 91006.")
	meta(property="og:title", content="2074 Vista Ave | John Huang - Southern California Real Estate Agent")
	meta(property="og:description", content="Rare opportunity to own a home in the Highlands of Arcadia with a view overlooking the valley! 2074 Vista Ave is located in Arcadia, CA 91006.")
	meta(property="og:url", content="#")
	meta(property="og:image", content="#")
	
	include ../../../includes/head
	body.single-listings-page
		include ../../../includes/navbar
		main
			.container-fluid
				h1.text-center= listing.address1
				h2.text-center.end-head= listing.address2
				.row
					.col-xs-12.col-md-5
						img.img-responsive.center-block(src="/images/2074-vista-ave/2074-vista.jpg", alt="Image of 2074 Vista Ave Arcadia Real Estate, Kitchen and Dining View")
					.col-xs-12.col-md-6
						p= listing.description
				.specs
					h2.text-center.sm-bot-pad Specifics
					.row
						.col-xs-12.col-sm-offset-3.col-sm-3
							ul.list-unstyled
								li
									strong Beds
									| : 
									span= listing.bed
								li
									strong Baths
									| : 
									span= listing.bath
								li
									strong Square Feet
									| : 
									span= listing.sqft
								li
									strong Lot Size
									| : 
									span= listing.lotSize
								li
									strong Price
									| : 
									span= listing.price
								li
									strong Price/SqFt
									| : 
									span= listing.priceSqft
						.col-xs-12.col-sm-offset-1.col-sm-3
							ul.list-unstyled
								li
									strong Garage Size
									| : 
									span= listing.garageSize
								li
									strong Property Type
									| : 
									span= listing.propertyType
								li
									strong Year Built
									| : 
									span= listing.yearBuilt
								li
									strong Taxes
									| : 
									span= listing.taxes
								li
									strong MLS #
									| : 
									span= listing.mls
								li
									strong External Link
									| : 
									span= listing.priceSqft
								li
									strong View on Zillow
									| : 
									span= listing.zillow
								li
									strong View on Trulia
									| : 
									span= listing.trulia
		include ../../../includes/alt-contact
		include ../../../includes/footer
		include ../../../includes/scripts

							//- mixin specs(type, amt)
							//- 	li
							//- 		strong= type
							//- 		span= ": " + amt
							//- ul.list-unstyled
							//- 	mixin specs("Bed", 3)
							//- 	mixin specs("Baths", 3)
							//- 	mixin specs("Square Feet", "2,154")
							//- 	mixin specs("Lot Size", "")
							//- 	mixin specs("Price", "$1,588,000")
							//- 	mixin specs("Price/SqFt", "")
							//- mixin specs("Garage Size", "")
							//- mixin specs("Property Type", "House")
							//- mixin specs("Year Built", "")
							//- mixin specs("Taxes", "")
							//- mixin specs("MLS #", "")
							//- mixin specs("External Link", "")
							//- mixin specs("View on Zillow", "")
							//- mixin specs("View on Trulia", "")